<div id="sidebar">
  <mat-nav-list role="list">
    <a mat-list-item role="listitem" routerLink="/admin/dashboard" routerLinkActive="active">
      <mat-icon matListIcon>dashboard</mat-icon>Dashboard
    </a>
    <a mat-list-item role="listitem" routerLink="/admin/order" routerLinkActive="active">
      <mat-icon matListIcon>add_shopping_cart</mat-icon>Add_order
    </a>
    <a mat-list-item role="listitem" routerLink="/admin/manage" routerLinkActive="active">
      <mat-icon matListIcon>format_list_bulleted</mat-icon>manage order
    </a>
    <a mat-list-item role="listitem" routerLink="/admin/product" routerLinkActive="active">
      <mat-icon matListIcon>add_circle_outline</mat-icon>Add Product
    </a>
    <a mat-list-item role="listitem" routerLink="/admin/manage_product" routerLinkActive="active">
      <mat-icon matListIcon>add_circle_outline</mat-icon>manage Product
    </a>
  </mat-nav-list>
</div>
