<div class="container">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Email</span>
    </div>
    <input class="form-control" type="text" [(ngModel)]="email" name="email" placeholder="Enter Email" aria-label="email">
    <!-- <div class="input-group-append">
      <span class="input-group-text"></span>
    </div> -->
  </div><br>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">password</span>
    </div>
    <input class="form-control" type="text" [(ngModel)]="password" name="password" placeholder="Enter password" aria-label="password">
    <!-- <div class="input-group-append">
      <span class="input-group-text"></span>
    </div> -->
  </div>
<button class="form-control btn btn-primary" (click)="register()">register</button>
</div>
