.pathimg {
  position: relative;
  z-index: -1;
  width: 100%;
}

h1 {
  top: 26%;
  position: absolute;
  left: 7%;
  font-size: 70px;color:
  #000a2d ;
  font-size:
70px;
font-family: serif;
}

h6 {
  top: 40%;
  position: absolute;
  left: 7%;
  font-size: 18px;
  color: rgb(236, 96, 83);
}
.portfolio{
  color:
#000a2d;
font-family: sans-serif;
font-size:
50px;
padding-top: 10%;
padding-bottom: 5%;
}
img{
width: 95%;
}
