<div class="bg-secondary container mt-5">
  <div class="card">
    <img class="card-img-top" [src]="table.file" alt="not show">

    <div class="card-body">
      <h2 class="card-title"><span class="mr-3 text-center">name:</span>{{table.name}}</h2>
      <p class="card-text"><span class="mr-3">email:</span>{{table.email}}</p>
      <p class="card-text"><span class="mr-3">contact no.:</span>{{table.mobile}}</p>
      <p class="card-text"><span class="mr-3">password:</span>{{table.password}}</p>
    </div>
  </div>
</div>
