<section class="vh-100" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-2">Add Product</h3>

            <div class="form-outline mb-2">
              <label class="form-label float-left" for="typeEmailX-2">Name</label>
              <input type="email" id="typeEmailX-2" class="form-control form-control-lg" />
            </div>

            <div class="form-outline mb-4">
              <label class="form-label float-left" for="typePasswordX-2">Status</label>
              <mat-select class="form-control" value="">
                <mat-option class="form-control" value="active" >
                  active
                </mat-option>
                <mat-option class="form-control" value="inactive">
                  inactive
                </mat-option>
              </mat-select>
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Add </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
